#subnavbar {
	background-color: rgba(20, 20, 20, 0.75);
	margin-top: 47px;
}
body {
	background-image: url("images/coffee/background.jpg");
}

.comic {
	margin-top: 20px;
}

#footer {
	position: absolute;
	top: 4510px;
}